In [11]:
from collections import Counter

import pandas as pd
import GeoIP


gi = GeoIP.open("/usr/local/var/GeoIP/GeoIPCity.dat", GeoIP.GEOIP_STANDARD)

# List your IPs here

In [5]:
with open('/tmp/ips') as f:
    ips = [x.strip().replace('\"','') for x in f]

# See Results

In [22]:
country_counter = Counter()
city_counter = Counter()

for ip in ips:
    gir = gi.record_by_name(ip)
    if gir is not None:
        country_counter[gir['country_name']] += 1
        city_counter['{0}, {1}'.format(gir['city'], gir['country_name'])] += 1

In [27]:
countries = pd.DataFrame.from_dict(country_counter, orient='index')
cities = pd.DataFrame.from_dict(city_counter, orient='index')

In [28]:
countries

                         0
United States        28754
Canada                   9
Venezuela                4
China                    1
Bahrain                  1
Mexico                   5
Korea, Republic of       1
Israel                   2
Spain                    2
Europe                   4
Guatemala                4
Afghanistan              1
United Kingdom           4
Russian Federation       4
Hong Kong                1
Turkey                   2
Asia/Pacific Region      1
Ireland                  5
India                    2
Netherlands              2
Taiwan                   1
Germany                  2
Denmark                  1
Oman                     1
Iceland                  1